* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #326dee;
  margin-bottom: 0.75rem;
}

a {
  color: #1ac888;
  font-size: 66px;
  text-decoration: none;
}

button {
  color: white;
  border: 0;
  background: #326dee;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.error {
  color: #d32752;
  border-color: #d32752;
  border-style: solid;
}

.notification {
  color: #1ac888;
  border-color: #1ac888;
  border-style: solid;
}
