*{
 box-sizing: border-box;
 margin: 0;
 padding: 0;   
}



// theme colors
$primary : #326dee;
$secondary: #1ac888;
$error:#d32752;
$info: #f6c31c;

// Spacing
$base-padding:0.75rem;
$base-margin:0.75rem;

// Borders
$base-border-thickness: 1px;
$base-border-radius: 20px;

h1 {
    color: $primary;
    margin-bottom: $base-margin;
}

a{
    color: $secondary;
    font-size: 66px;
    text-decoration: none;
}

button{
    color:white;
    border:0;
    background:$primary;
    padding: $base-padding
    border-radius: $base-border-radius;
    -webkit-border-radius: $base-border-radius;
    -moz-border-radius: $base-border-radius;
    -ms-border-radius: $base-border-radius;
    -o-border-radius: $base-border-radius;
}

.error{
    color:$error;
    border-color: $error;
    border-style: solid;
    margin:$base-margin;
    border-width: $base-border-thickness;
    padding:$base-padding;
    border-radius: $base-border-radius;
    -webkit-border-radius: $base-border-radius;
    -moz-border-radius: $base-border-radius;
    -ms-border-radius: $base-border-radius;
    -o-border-radius: $base-border-radius;
}

.notification{
    color:$secondary;
    border-color: $secondary;
    border-style: solid;
     margin:$base-margin;
    border-width: $base-border-thickness;
    padding:$base-padding;
    border-radius: $base-border-radius;
    -webkit-border-radius: $base-border-radius;
    -moz-border-radius: $base-border-radius;
    -ms-border-radius: $base-border-radius;
    -o-border-radius: $base-border-radius;
}